<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {{#each @users as |user|}}
      <User @user={{user}} @selectUser={{@selectUser}} />
    {{/each}}
  </tbody>
</table>

