  <div class="user__details">
    <h2>{{@user.name}}</h2>

    <div>
      <p>Email: {{@user.email}}</p>
      <p>Gender: {{@user.gender}}</p>
      <p>Status: {{@user.status}}</p>
    </div>
  </div>