{{page-title "Ember PP"}}

<h1>
  Application template
</h1>

<div>
    <button type="button">
      <LinkTo @route="users">
        Users
      </LinkTo>
    </button>

   <button type="button">
      <LinkTo @route="posts">
        Posts
      </LinkTo>
   </button>
</div>

{{outlet}}